/* Author: Lachlyn Reynolds */

/* Colors */
$white: rgb(230, 230, 230);
$l_gray: rgb(221, 132, 16);
$d_gray: rgb(142, 95, 8);
$pink: #ECC0D1;
$black: #000000;
$background: #6a6acf00;

/* Image: https://www.nicepng.com/png/detail/339-3398167_http-cdn-shopify-pixel-art-pixel-art-kitten.png */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
    background-image: 
    radial-gradient(circle at top left, rgba(255, 255, 255, 0.884), rgba(0, 0, 0, 0) 20%),
    linear-gradient(-0.005turn, rgb(19, 154, 19) 45%, #8585f5 45%);
}

.shadow {
    position: absolute;
    top: 90%;
    left: 30%;
    width: 45vw;
    height: 10vh;
    background-image: radial-gradient(rgba(71, 71, 71, 0.571) 30%, rgba(0, 0, 0, 0) 60%) ;
    border-radius: 50%;
    animation: shadow 1s linear infinite;
    -moz-animation: shadow 1s linear infinite;
    -webkit-animation: shadow 1s linear infinite;
}

#kitty {
    position: absolute;
    left: 50%;
    top: 60%;
    animation: bounce 1s linear infinite;
    -webkit-animation: bounce 1s linear infinite;
    -moz-animation: bounce 1s linear infinite;

}

.kitty {
    width: 1em;
    height: 1em;
    background: $d_gray;
    box-shadow: 
    1em 0 0 $l_gray,
    -1em 0 0 $d_gray,
    0 1em 0 0 $white,
    0 -1em 0 0 $white,
    0 -2em 0 0 $white,
    1em -1em 0 0 $white,
    1em -2em 0 0 $l_gray,
    -1em -1em 0 0 $l_gray,
    -1em -2em 0 0 $l_gray,
    -1em 1em 0 0 $white,
    1em 1em 0 0 $white,
    1em -3em 0 0 $black,
    0em -3em 0 0 $l_gray,
    -1em -3em 0 0 $l_gray,
    -1em 2em 0 0 $l_gray,
    0 2em 0 0 $d_gray,
    1em 2em 0 0 $d_gray,
    2em 2em 0 0 $d_gray,
    2em 1em 0 0 $white,
    2em 0em 0 0 $white,
    2em -1em 0 0 $white,
    2em -2em 0 0 $white,
    2em -3em 0 0 $l_gray,
    -1em -4em 0 0 $l_gray,
    0 -4em 0 0 $l_gray,
    1em -4em 0 0 $black,
    2em -4em 0 0 $black,
    -1em -5em 0 0 $l_gray,
    0em -5em 0 0 $l_gray,
    1em -5em 0 0 $l_gray,
    2em -5em 0 0 $black,
    -1em -6em 0 0 $black,
    0 -6em 0 0 $black,
    1em -6em 0 0 $black,
    2em -6em 0 0 $l_gray,
    -1em -7em 0 0 $black,
    0 -7em 0 0 $black,
    1em -7em 0 0 $black,
    2em -7em 0 0 $l_gray,
    -1em -8em 0 0 $black,
    0 -8em 0 0 $black,
    1em -8em 0 0 $l_gray,
    2em -8em 0 0 $l_gray,
    -1em -9em 0 0 $black,
    0 -9em 0 0 $black,
    1em -9em 0 0 $d_gray,
    2em -9em 0 0 $l_gray,
    -1em -10em 0 0 $black,
    0 -10em 0 0 $d_gray,
    1em -10em 0 0 $d_gray,
    2em -10em 0 0 $l_gray,
    -1em -11em 0 0 $black,
    0 -11em 0 0 $d_gray,
    1em -11em 0 0 $d_gray,
    2em -11em 0 0 $l_gray,
    -1em -12em 0 0 $d_gray,
    0 -12em 0 0 $d_gray,
    1em -12em 0 0 $l_gray,
    2em -12em 0 0 $d_gray,
    -1em -13em 0 0 $black,
    0 -13em 0 0 $black,
    1em -13em 0 0 $black,
    2em -13em 0 0 $black,
    -1em 3em 0 0 $l_gray,
    0 3em 0 0 $l_gray,
    1em 3em 0 0 $l_gray,
    2em 3em 0 0 $white,
    -1em 4em 0 0 $d_gray,
    0 4em 0 0 $d_gray,
    1em 4em 0 0 $l_gray,
    2em 4em 0 0 $l_gray,
    -1em 5em 0 0 $d_gray,
    0 5em 0 0 $d_gray,
    1em 5em 0 0 $d_gray,
    2em 5em 0 0 $l_gray,
    -1em 6em 0 0 $l_gray,
    0 6em 0 0 $d_gray,
    1em 6em 0 0 $d_gray,
    2em 6em 0 0 $black,
    -1em 7em 0 0 $l_gray,
    0 7em 0 0 $l_gray,
    1em 7em 0 0 $l_gray,
    2em 7em 0 0 $black,
    -1em 8em 0 0 $l_gray,
    0 8em 0 0 $white,
    1em 8em 0 0 $l_gray,
    2em 8em 0 0 $black,
    -1em 9em 0 0 $white,
    0 9em 0 0 $white,
    1em 9em 0 0 $white,
    2em 9em 0 0 $white,
    -1em 10em 0 0 $l_gray,
    0 10em 0 0 $white,
    1em 10em 0 0 $white,
    2em 10em 0 0 $white,
    -1em 11em 0 0 $black,
    0 11em 0 0 $white,
    1em 11em 0 0 $l_gray,
    2em 11em 0 0 $l_gray,
    -1em 11em 0 0 $black,
    0 11em 0 0 $white,
    1em 11em 0 0 $l_gray,
    2em 11em 0 0 $l_gray,
    -1em 12em 0 0 $black,
    0 12em 0 0 $l_gray,
    1em 12em 0 0 $l_gray,
    2em 12em 0 0 $white,
    3em 0em 0 0 $black,
    4em 0em 0 0 $black,
    5em 0em 0 0 $white,
    6em 0em 0 0 $white,
    7em 0em 0 0 $white,
    8em 0em 0 0 $black,
    9em 0em 0 0 $black,
    10em 0em 0 0 $white,
    11em 0em 0 0 $white,
    12em 0em 0 0 $black,
    13em 0em 0 0 $black,
    -2em 0em 0 0 $l_gray,
    -3em 0em 0 0 $l_gray,
    -4em 0em 0 0 $d_gray,
    -5em 0em 0 0 $d_gray,
    -6em 0em 0 0 $d_gray,
    -7em 0em 0 0 $l_gray,
    -8em 0em 0 0 $l_gray,
    -9em 0em 0 0 $d_gray,
    -10em 0em 0 0 $d_gray,
    -11em 0em 0 0 $black,
    -12em 0em 0 0 $black,
    -13em -1em 0 0 $black,
    -12em -1em 0 0 $d_gray,
    -11em -1em 0 0 $d_gray,
    -10em -1em 0 0 $black,
    -9em -1em 0 0 $d_gray,
    -8em -1em 0 0 $d_gray,
    -7em -1em 0 0 $l_gray,
    -6em -1em 0 0 $l_gray,
    -5em -1em 0 0 $black,
    -4em -1em 0 0 $d_gray,
    -3em -1em 0 0 $d_gray,
    -2em -1em 0 0 $d_gray,
    -13em -2em 0 0 $black,
    -12em -2em 0 0 $d_gray,
    -11em -2em 0 0 $d_gray,
    -10em -2em 0 0 $d_gray,
    -9em -2em 0 0 $black,
    -8em -2em 0 0 $black,
    -7em -2em 0 0 $d_gray,
    -6em -2em 0 0 $l_gray,
    -5em -2em 0 0 $black,
    -4em -2em 0 0 $l_gray,
    -3em -2em 0 0 $l_gray,
    -2em -2em 0 0 $l_gray,
    -14em -3em 0 0 $black,
    -13em -3em 0 0 $l_gray,
    -12em -3em 0 0 $l_gray,
    -11em -3em 0 0 $d_gray,
    -10em -3em 0 0 $d_gray,
    -9em -3em 0 0 $d_gray,
    -8em -3em 0 0 $black,
    -7em -3em 0 0 $black,
    -6em -3em 0 0 $black,
    -5em -3em 0 0 $black,
    -4em -3em 0 0 $d_gray,
    -3em -3em 0 0 $d_gray,
    -2em -3em 0 0 $l_gray,
    -14em -4em 0 0 $black,
    -13em -4em 0 0 $d_gray,
    -12em -4em 0 0 $l_gray,
    -11em -4em 0 0 $l_gray,
    -10em -4em 0 0 $l_gray,
    -9em -4em 0 0 $black,
    -8em -4em 0 0 $background,
    -7em -4em 0 0 $background,
    -6em -4em 0 0 $background,
    -5em -4em 0 0 $black,
    -4em -4em 0 0 $d_gray,
    -3em -4em 0 0 $d_gray,
    -2em -4em 0 0 $d_gray,
    -14em -5em 0 0 $black,
    -13em -5em 0 0 $d_gray,
    -12em -5em 0 0 $d_gray,
    -11em -5em 0 0 $d_gray,
    -10em -5em 0 0 $black,
    -9em -5em 0 0 $background,
    -8em -5em 0 0 $background,
    -7em -5em 0 0 $background,
    -6em -5em 0 0 $background,
    -5em -5em 0 0 $black,
    -4em -5em 0 0 $black,
    -3em -5em 0 0 $black,
    -2em -5em 0 0 $black,
    -14em -6em 0 0 $black,
    -13em -6em 0 0 $d_gray,
    -12em -6em 0 0 $d_gray,
    -11em -6em 0 0 $d_gray,
    -10em -6em 0 0 $black,
    -9em -6em 0 0 $background,
    -8em -6em 0 0 $background,
    -7em -6em 0 0 $background,
    -6em -6em 0 0 $black,
    -5em -6em 0 0 $black,
    -4em -6em 0 0 $black,
    -3em -6em 0 0 $pink,
    -2em -6em 0 0 $black,
    -14em -7em 0 0 $black,
    -13em -7em 0 0 $d_gray,
    -12em -7em 0 0 $l_gray,
    -11em -7em 0 0 $l_gray,
    -10em -7em 0 0 $black,
    -9em -7em 0 0 $background,
    -8em -7em 0 0 $background,
    -7em -7em 0 0 $background,
    -6em -7em 0 0 $black,
    -5em -7em 0 0 $black,
    -4em -7em 0 0 $pink,
    -3em -7em 0 0 $pink,
    -2em -7em 0 0 $pink,
    -14em -8em 0 0 $black,
    -13em -8em 0 0 $l_gray,
    -12em -8em 0 0 $d_gray,
    -11em -8em 0 0 $d_gray,
    -10em -8em 0 0 $black,
    -9em -8em 0 0 $background,
    -8em -8em 0 0 $background,
    -7em -8em 0 0 $black,
    -6em -8em 0 0 $black,
    -5em -8em 0 0 $pink,
    -4em -8em 0 0 $pink,
    -3em -8em 0 0 $pink,
    -2em -8em 0 0 $pink,
    -14em -9em 0 0 $black,
    -13em -9em 0 0 $d_gray,
    -12em -9em 0 0 $d_gray,
    -11em -9em 0 0 $d_gray,
    -10em -9em 0 0 $black,
    -9em -9em 0 0 $background,
    -8em -9em 0 0 $background,
    -7em -9em 0 0 $black,
    -6em -9em 0 0 $black,
    -5em -9em 0 0 $pink,
    -4em -9em 0 0 $pink,
    -3em -9em 0 0 $pink,
    -2em -9em 0 0 $black,
    -14em -10em 0 0 $black,
    -13em -10em 0 0 $l_gray,
    -12em -10em 0 0 $l_gray,
    -11em -10em 0 0 $l_gray,
    -10em -10em 0 0 $d_gray,
    -9em -10em 0 0 $black,
    -8em -10em 0 0 $black,
    -7em -10em 0 0 $black,
    -6em -10em 0 0 $d_gray,
    -5em -10em 0 0 $pink,
    -4em -10em 0 0 $pink,
    -3em -10em 0 0 $black,
    -2em -10em 0 0 $black,
    -13em -11em 0 0 $black,
    -12em -11em 0 0 $l_gray,
    -11em -11em 0 0 $l_gray,
    -10em -11em 0 0 $d_gray,
    -9em -11em 0 0 $black,
    -8em -11em 0 0 $black,
    -7em -11em 0 0 $black,
    -6em -11em 0 0 $d_gray,
    -5em -11em 0 0 $black,
    -4em -11em 0 0 $black,
    -3em -11em 0 0 $black,
    -2em -11em 0 0 $black,
    -13em -12em 0 0 $black,
    -12em -12em 0 0 $l_gray,
    -11em -12em 0 0 $d_gray,
    -10em -12em 0 0 $l_gray,
    -9em -12em 0 0 $l_gray,
    -8em -12em 0 0 $black,
    -7em -12em 0 0 $black,
    -6em -12em 0 0 $d_gray,
    -5em -12em 0 0 $d_gray,
    -4em -12em 0 0 $black,
    -3em -12em 0 0 $black,
    -2em -12em 0 0 $d_gray,
    -12em -13em 0 0 $black,
    -11em -13em 0 0 $l_gray,
    -10em -13em 0 0 $l_gray,
    -9em -13em 0 0 $l_gray,
    -8em -13em 0 0 $black,
    -7em -13em 0 0 $black,
    -6em -13em 0 0 $d_gray,
    -5em -13em 0 0 $d_gray,
    -4em -13em 0 0 $d_gray,
    -3em -13em 0 0 $d_gray,
    -2em -13em 0 0 $black,
    -12em -14em 0 0 $black,
    -11em -14em 0 0 $l_gray,
    -10em -14em 0 0 $l_gray,
    -9em -14em 0 0 $l_gray,
    -8em -14em 0 0 $black,
    -7em -14em 0 0 $black,
    -6em -14em 0 0 $black,
    -5em -14em 0 0 $black,
    -4em -14em 0 0 $black,
    -3em -14em 0 0 $black,
    -11em -15em 0 0 $black,
    -10em -15em 0 0 $black,
    -9em -15em 0 0 $black,
    -12em 1em 0 0 $black,
    -11em 1em 0 0 $l_gray,
    -10em 1em 0 0 $d_gray,
    -9em 1em 0 0 $l_gray,
    -8em 1em 0 0 $l_gray,
    -7em 1em 0 0 $d_gray,
    -6em 1em 0 0 $d_gray,
    -5em 1em 0 0 $l_gray,
    -4em 1em 0 0 $l_gray,
    -3em 1em 0 0 $l_gray,
    -2em 1em 0 0 $l_gray,
    -13em 2em 0 0 $black,
    -12em 2em 0 0 $d_gray,
    -11em 2em 0 0 $l_gray,
    -10em 2em 0 0 $l_gray,
    -9em 2em 0 0 $l_gray,
    -8em 2em 0 0 $l_gray,
    -7em 2em 0 0 $d_gray,
    -6em 2em 0 0 $d_gray,
    -5em 2em 0 0 $l_gray,
    -4em 2em 0 0 $l_gray,
    -3em 2em 0 0 $l_gray,
    -2em 2em 0 0 $l_gray,
    -13em 3em 0 0 $black,
    -12em 3em 0 0 $d_gray,
    -11em 3em 0 0 $l_gray,
    -10em 3em 0 0 $l_gray,
    -9em 3em 0 0 $l_gray,
    -8em 3em 0 0 $l_gray,
    -7em 3em 0 0 $d_gray,
    -6em 3em 0 0 $l_gray,
    -5em 3em 0 0 $l_gray,
    -4em 3em 0 0 $l_gray,
    -3em 3em 0 0 $d_gray,
    -2em 3em 0 0 $l_gray,
    -13em 4em 0 0 $black,
    -12em 4em 0 0 $d_gray,
    -11em 4em 0 0 $d_gray,
    -10em 4em 0 0 $l_gray,
    -9em 4em 0 0 $l_gray,
    -8em 4em 0 0 $l_gray,
    -7em 4em 0 0 $d_gray,
    -6em 4em 0 0 $l_gray,
    -5em 4em 0 0 $l_gray,
    -4em 4em 0 0 $l_gray,
    -3em 4em 0 0 $d_gray,
    -2em 4em 0 0 $l_gray,

    -13em 5em 0 0 $black,
    -12em 5em 0 0 $d_gray,
    -11em 5em 0 0 $d_gray,
    -10em 5em 0 0 $l_gray,
    -9em 5em 0 0 $l_gray,
    -8em 5em 0 0 $l_gray,
    -7em 5em 0 0 $d_gray,
    -6em 5em 0 0 $l_gray,
    -5em 5em 0 0 $l_gray,
    -4em 5em 0 0 $l_gray,
    -3em 5em 0 0 $l_gray,
    -2em 5em 0 0 $l_gray,
    -14em 6em 0 0 $black,
    -13em 6em 0 0 $d_gray,
    -12em 6em 0 0 $d_gray,
    -11em 6em 0 0 $d_gray,
    -10em 6em 0 0 $d_gray,
    -9em 6em 0 0 $l_gray,
    -8em 6em 0 0 $l_gray,
    -7em 6em 0 0 $white,
    -6em 6em 0 0 $white,
    -5em 6em 0 0 $white,
    -4em 6em 0 0 $l_gray,
    -3em 6em 0 0 $l_gray,
    -2em 6em 0 0 $l_gray,
    -14em 7em 0 0 $black,
    -13em 7em 0 0 $d_gray,
    -12em 7em 0 0 $d_gray,
    -11em 7em 0 0 $l_gray,
    -10em 7em 0 0 $l_gray,
    -9em 7em 0 0 $l_gray,
    -8em 7em 0 0 $l_gray,
    -7em 7em 0 0 $white,
    -6em 7em 0 0 $white,
    -5em 7em 0 0 $white,
    -4em 7em 0 0 $white,
    -3em 7em 0 0 $l_gray,
    -2em 7em 0 0 $l_gray,
    -14em 8em 0 0 $black,
    -13em 8em 0 0 $white,
    -12em 8em 0 0 $l_gray,
    -11em 8em 0 0 $l_gray,
    -10em 8em 0 0 $l_gray,
    -9em 8em 0 0 $l_gray,
    -8em 8em 0 0 $l_gray,
    -7em 8em 0 0 $white,
    -6em 8em 0 0 $l_gray,
    -5em 8em 0 0 $black,
    -4em 8em 0 0 $black,
    -3em 8em 0 0 $black,
    -2em 8em 0 0 $white,
    -14em 9em 0 0 $black,
    -13em 9em 0 0 $white,
    -12em 9em 0 0 $white,
    -11em 9em 0 0 $white,
    -10em 9em 0 0 $white,
    -9em 9em 0 0 $l_gray,
    -8em 9em 0 0 $black,
    -7em 9em 0 0 $black,
    -6em 9em 0 0 $black,
    -5em 9em 0 0 $background,
    -4em 9em 0 0 $background,
    -3em 9em 0 0 $background,
    -2em 9em 0 0 $black,
    -14em 10em 0 0 $black,
    -13em 10em 0 0 $white,
    -12em 10em 0 0 $white,
    -11em 10em 0 0 $white,
    -10em 10em 0 0 $white,
    -9em 10em 0 0 $black,
    -8em 10em 0 0 $black,
    -7em 10em 0 0 $black,
    -6em 10em 0 0 $black,
    -5em 10em 0 0 $background,
    -4em 10em 0 0 $background,
    -3em 10em 0 0 $background,
    -2em 10em 0 0 $black,
    -14em 11em 0 0 $black,
    -13em 11em 0 0 $white,
    -12em 11em 0 0 $white,
    -11em 11em 0 0 $white,
    -10em 11em 0 0 $black,
    -9em 11em 0 0 $background,
    -8em 11em 0 0 $background,
    -7em 11em 0 0 $background,
    -6em 11em 0 0 $background,
    -5em 11em 0 0 $background,
    -4em 11em 0 0 $background,
    -3em 11em 0 0 $background,
    -2em 11em 0 0 $background,
    -13em 12em 0 0 $black,
    -12em 12em 0 0 $black,
    -11em 12em 0 0 $black,
    3em -14em 0 0 $black,
    3em -13em 0 0 $d_gray,
    3em -12em 0 0 $d_gray,
    3em -11em 0 0 $d_gray,
    3em -10em 0 0 $l_gray,
    3em -9em 0 0 $l_gray,
    3em -8em 0 0 $l_gray,
    3em -7em 0 0 $l_gray,
    3em -6em 0 0 $l_gray,
    3em -5em 0 0 $black,
    3em -4em 0 0 $black,
    3em -3em 0 0 $black,
    3em -2em 0 0 $white,
    3em -1em 0 0 $black,
    3em 1em 0 0 $white,
    3em 2em 0 0 $white,
    3em 3em 0 0 $white,
    3em 4em 0 0 $l_gray,
    3em 5em 0 0 $l_gray,
    3em 6em 0 0 $white,
    3em 7em 0 0 $white,
    3em 8em 0 0 $black,
    3em 9em 0 0 $black,
    3em 10em 0 0 $white,
    3em 11em 0 0 $white,
    3em 12em 0 0 $black,
    4em -14em 0 0 $black,
    4em -13em 0 0 $d_gray,
    4em -12em 0 0 $d_gray,
    4em -11em 0 0 $d_gray,
    4em -10em 0 0 $d_gray,
    4em -9em 0 0 $l_gray,
    4em -8em 0 0 $l_gray,
    4em -7em 0 0 $l_gray,
    4em -6em 0 0 $l_gray,
    4em -5em 0 0 $black,
    4em -4em 0 0 $black,
    4em -3em 0 0 $black,
    4em -2em 0 0 $black,
    4em -1em 0 0 $black,
    4em 1em 0 0 $white,
    4em 2em 0 0 $white,
    4em 3em 0 0 $white,
    4em 4em 0 0 $l_gray,
    4em 5em 0 0 $white,
    4em 6em 0 0 $white,
    4em 7em 0 0 $l_gray,
    4em 8em 0 0 $black,
    4em 9em 0 0 $background,
    4em 10em 0 0 $black,
    4em 11em 0 0 $black,
    4em 12em 0 0 $background,
    5em -14em 0 0 $black,
    5em -13em 0 0 $d_gray,
    5em -12em 0 0 $d_gray,
    5em -11em 0 0 $l_gray,
    5em -10em 0 0 $d_gray,
    5em -9em 0 0 $d_gray,
    5em -8em 0 0 $l_gray,
    5em -7em 0 0 $l_gray,
    5em -6em 0 0 $l_gray,
    5em -5em 0 0 $l_gray,
    5em -4em 0 0 $black,
    5em -3em 0 0 $black,
    5em -2em 0 0 $black,
    5em -1em 0 0 $black,
    5em 1em 0 0 $white,
    5em 2em 0 0 $white,
    5em 3em 0 0 $white,
    5em 4em 0 0 $l_gray,
    5em 5em 0 0 $l_gray,
    5em 6em 0 0 $black,
    5em 7em 0 0 $black,
    5em 8em 0 0 $black,
    5em 9em 0 0 $background,
    5em 10em 0 0 $background,
    5em 11em 0 0 $background,
    5em 12em 0 0 $background,
    6em -14em 0 0 $black,
    6em -13em 0 0 $d_gray,
    6em -12em 0 0 $l_gray,
    6em -11em 0 0 $l_gray,
    6em -10em 0 0 $l_gray,
    6em -8em 0 0 $l_gray,
    6em -9em 0 0 $l_gray,
    6em -7em 0 0 $l_gray,
    6em -6em 0 0 $l_gray,
    6em -5em 0 0 $l_gray,
    6em -4em 0 0 $l_gray,
    6em -3em 0 0 $l_gray,
    6em -2em 0 0 $l_gray,
    6em -1em 0 0 $white,
    6em 1em 0 0 $white,
    6em 2em 0 0 $white,
    6em 3em 0 0 $white,
    6em 4em 0 0 $l_gray,
    6em 5em 0 0 $d_gray,
    6em 6em 0 0 $l_gray,
    6em 7em 0 0 $white,
    6em 8em 0 0 $white,
    6em 9em 0 0 $black,
    6em 10em 0 0 $black,
    6em 11em 0 0 $background,
    6em 12em 0 0 $background,
    7em -15em 0 0 $black,
    7em -14em 0 0 $black,
    7em -13em 0 0 $d_gray,
    7em -12em 0 0 $d_gray,
    7em -11em 0 0 $l_gray,
    7em -10em 0 0 $l_gray,
    7em -8em 0 0 $l_gray,
    7em -9em 0 0 $l_gray,
    7em -7em 0 0 $l_gray,
    7em -6em 0 0 $l_gray,
    7em -5em 0 0 $l_gray,
    7em -4em 0 0 $white,
    7em -3em 0 0 $white,
    7em -2em 0 0 $white,
    7em -1em 0 0 $white,
    7em 1em 0 0 $white,
    7em 2em 0 0 $white,
    7em 3em 0 0 $white,
    7em 4em 0 0 $d_gray,
    7em 5em 0 0 $d_gray,
    7em 6em 0 0 $l_gray,
    7em 7em 0 0 $white,
    7em 8em 0 0 $white,
    7em 9em 0 0 $white,
    7em 10em 0 0 $l_gray,
    7em 11em 0 0 $black,
    7em 12em 0 0 $background,
    8em -16em 0 0 $black,
    8em -15em 0 0 $black,
    8em -14em 0 0 $black,
    8em -13em 0 0 $d_gray,
    8em -12em 0 0 $d_gray,
    8em -11em 0 0 $d_gray,
    8em -10em 0 0 $d_gray,
    8em -8em 0 0 $l_gray,
    8em -9em 0 0 $l_gray,
    8em -7em 0 0 $l_gray,
    8em -6em 0 0 $l_gray,
    8em -5em 0 0 $l_gray,
    8em -4em 0 0 $white,
    8em -3em 0 0 $white,
    8em -2em 0 0 $white,
    8em -1em 0 0 $l_gray,
    8em 1em 0 0 $white,
    8em 2em 0 0 $white,
    8em 3em 0 0 $black,
    8em 4em 0 0 $d_gray,
    8em 5em 0 0 $d_gray,
    8em 6em 0 0 $l_gray,
    8em 7em 0 0 $white,
    8em 8em 0 0 $white,
    8em 9em 0 0 $white,
    8em 10em 0 0 $l_gray,
    8em 11em 0 0 $black,
    8em 12em 0 0 $background,
    9em -16em 0 0 $black,
    9em -15em 0 0 $black,
    9em -14em 0 0 $black,
    9em -13em 0 0 $black,
    9em -12em 0 0 $d_gray,
    9em -11em 0 0 $l_gray,
    9em -10em 0 0 $l_gray,
    9em -8em 0 0 $l_gray,
    9em -9em 0 0 $l_gray,
    9em -7em 0 0 $l_gray,
    9em -6em 0 0 $l_gray,
    9em -5em 0 0 $l_gray,
    9em -4em 0 0 $l_gray,
    9em -3em 0 0 $white,
    9em -2em 0 0 $white,
    9em -1em 0 0 $l_gray,
    9em 1em 0 0 $white,
    9em 2em 0 0 $white,
    9em 3em 0 0 $black,
    9em 4em 0 0 $black,
    9em 5em 0 0 $l_gray,
    9em 6em 0 0 $l_gray,
    9em 7em 0 0 $white,
    9em 8em 0 0 $white,
    9em 9em 0 0 $l_gray,
    9em 10em 0 0 $white,
    9em 11em 0 0 $black,
    9em 12em 0 0 $background,
    10em -16em 0 0 $black,
    10em -15em 0 0 $black,
    10em -14em 0 0 $black,
    10em -13em 0 0 $black,
    10em -12em 0 0 $black,
    10em -11em 0 0 $l_gray,
    10em -10em 0 0 $l_gray,
    10em -8em 0 0 $l_gray,
    10em -9em 0 0 $l_gray,
    10em -7em 0 0 $black,
    10em -6em 0 0 $black,
    10em -5em 0 0 $white,
    10em -4em 0 0 $black,
    10em -3em 0 0 $d_gray,
    10em -2em 0 0 $white,
    10em -1em 0 0 $white,
    10em 1em 0 0 $white,
    10em 2em 0 0 $black,
    10em 3em 0 0 $black,
    10em 4em 0 0 $background,
    10em 5em 0 0 $black,
    10em 6em 0 0 $black,
    10em 7em 0 0 $l_gray,
    10em 8em 0 0 $white,
    10em 9em 0 0 $white,
    10em 10em 0 0 $white,
    10em 11em 0 0 $black,
    10em 12em 0 0 $background,
    11em -16em 0 0 $d_gray,
    11em -15em 0 0 $d_gray,
    11em -14em 0 0 $d_gray,
    11em -13em 0 0 $black,
    11em -12em 0 0 $black,
    11em -11em 0 0 $black,
    11em -10em 0 0 $l_gray,
    11em -9em 0 0 $l_gray,
    11em -8em 0 0 $black,
    11em -7em 0 0 $black,
    11em -6em 0 0 $black,
    11em -5em 0 0 $black,
    11em -4em 0 0 $black,
    11em -3em 0 0 $d_gray,
    11em -2em 0 0 $white,
    11em -1em 0 0 $white,
    11em 1em 0 0 $black,
    11em 2em 0 0 $black,
    11em 3em 0 0 $background,
    11em 4em 0 0 $background,
    11em 5em 0 0 $background,
    11em 6em 0 0 $background,
    11em 7em 0 0 $black,
    11em 8em 0 0 $black,
    11em 9em 0 0 $black,
    11em 10em 0 0 $black,
    11em 11em 0 0 $background,
    11em 12em 0 0 $background,
    9em -17em 0 0 $black,
    10em -17em 0 0 $black,
    11em -17em 0 0 $black,
    12em -16em 0 0 $black,
    12em -15em 0 0 $d_gray,
    12em -14em 0 0 $d_gray,
    12em -13em 0 0 $d_gray,
    12em -12em 0 0 $d_gray,
    12em -11em 0 0 $black,
    12em -10em 0 0 $black,
    12em -9em 0 0 $black,
    12em -8em 0 0 $black,
    12em -7em 0 0 $black,
    12em -6em 0 0 $l_gray,
    12em -5em 0 0 $white,
    12em -4em 0 0 $white,
    12em -3em 0 0 $white,
    12em -2em 0 0 $black,
    12em -1em 0 0 $white,
    12em 1em 0 0 $black,
    13em -15em 0 0 $black,
    13em -14em 0 0 $black,
    13em -13em 0 0 $black,
    13em -12em 0 0 $black,
    13em -11em 0 0 $black,
    13em -10em 0 0 $black,
    13em -9em 0 0 $black,
    13em -8em 0 0 $black,
    13em -7em 0 0 $black,
    13em -6em 0 0 $black,
    13em -5em 0 0 $black,
    13em -4em 0 0 $black,
    13em -3em 0 0 $black,
    13em -2em 0 0 $black,
    13em -1em 0 0 $black,
    14em -2em 0 0 $black,
    14em -4em 0 0 $black,
    0 13em 0 0 $black,
    1em 13em 0 0 $black,
    2em 13em 0 0 $black;

}

@keyframes bounce {
    0% {top: 60%;}
    50% {top: 50%;}
    100% {top: 60%;}
}

@-moz-keyframes bounce {
    0% {top: 60%;}
    50% {top: 50%;}
    100% {top: 60%;}
}

@-webkit-keyframes bounce {
    0% {top: 60%;}
    50% {top: 50%;}
    100% {top: 60%;}
}

@keyframes shadow {
    0% {width: 45vw;}
    50% {
        width: 30vw;
        left: 35%;
    }
    100% {width: 45vw;}
}

@-moz-keyframes shadow {
    0% {width: 45vw;}
    50% {
        width: 30vw;
        left: 35%;
    }
    100% {width: 45vw;}
}

@-webkit-keyframes shadow {
    0% {width: 45vw;}
    50% {
        width: 30vw;
        left: 35%;
    }
    100% {width: 45vw;}
}